.form {
	display: flex;
	justify-content: start;

	input[type=email] {
		border-radius: 10px;
		border: .5px solid  #BFBDBF;
		margin: 0 .5rem 0 0;
		font-size: .8rem;
		padding: 0 0 0 10px;
		max-width: 366px;
	 }

	 input[type=submit] {
		border-radius: 20px;
		border: .5px solid #FC2560;
		background: #FC2560;
		color: #ffffff;
		min-width: 125px;
		max-height: 57px;
	 }

	 @media only screen and (min-width: $breakpoint-large) {
		input[type=email] {
			line-height: 1rem;
			padding: .5rem;
			border-radius: 20px;
			min-width: 200px;
		 }

		 input[type=submit] {
			font-size: 1rem;
			line-height: 1rem;
			max-height: 57px;
		 }
	 }
}