.hero-logo {
  display: flex;
  justify-content: center;
}

.hero {
	display: flex;
	flex-direction: column-reverse;
	align-items: start;
	padding: 0 2rem 2rem;

	&-left {
		display: flex;
		flex-direction: column;
    align-items: center;
    text-align: left;
  }

	&-right {
		margin: auto;
	}

	&-title {
    margin: -10px 0 0 0;
		font-size: 27px;
		line-height: 35px;
	}

	&-subtitle {
		font-size: 18px;
		line-height: 26px;
	}

  &-top-img {
    width: 250px;
    height: 270px;
  }

  &-bottom-img {
    display: none;
    width: 100%
  }

  &-blob {
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 100px 200px
  }

	@media only screen and (min-width: $breakpoint-large) {
		flex-direction: row;
    justify-content: space-around;

    &-right {
      margin: 0;
    }

		&-top-img {
      width: 100%;
      height: 100%;
      display: block;
      max-width: 450px;
      max-height: 500px;
		}

    &-bottom-img {
      margin: 3rem 0 0;
      display: block;
      max-width: 360px;
      max-height: 300px;
    }

		&-left {
      max-width: 590px;
			align-items: start;
		}

		&-title {
			margin: 0;
			font-size: 38px;
			line-height: 41px;
		}

		&-subtitle {
			font-size: 22px;
			line-height: 25px;
      font-weight: 200;
      margin: 3rem 0;
		}


    &-blob {
      background-size: 200px 300px;
    }
	}

	@media only screen and (min-width: $breakpoint-xlarge) {
		&-top-img {
      max-width: 570px;
      max-height: 644px;
		}

		&-bottom-img {
      max-width: 560px;
      max-height: 500px;
    }

    &-blob {
      background-size: 350px 400px;
    }
	}
}
