.section {
    margin: 2rem 0 0;

    &-img {
        height: 150px;
        width: 150px;
        text-align: center;
        margin: 1rem 0
    }

    &-main {
        display:flex;
        flex-direction: column;
        padding: 0 2rem;
        align-items: center;
    }

    &-title {
        font-size: 1rem;
    }

    &-subtitle {
        font-size: .8rem;
    }


    @media only screen and (min-width: $breakpoint-large) {
      &-copy {
        padding: 0 2rem;
      }

      &-main {
        flex-direction: row;
        width: 100%
      }

      &-reverse {
        flex-direction: row-reverse;
      }


      &-img {
        width: 50%;
        height: 50%;
        text-align: center;
        margin: 1rem 0
    }
    }

}
