.upsell-main-title {
    margin: 0 0 2rem;
    text-align: center;
    font-size: 1rem;
    color: #54C1B7;
}

.blockImage {
  display: none;
}

.upsell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    max-width: 800px;


    &-title {
        font-size: .9rem;
        color: #54C1B7;
    }

    &-section-body {
        margin: 1rem 0;
    }

    &-text {
        font-size: .8rem;
    }

    &-anchor-text {
        font-size: .8rem;
        color: #333;

    }

    @media only screen and (min-width: $breakpoint-large) {
      flex-direction: row;
    }
}

@media only screen and (min-width: $breakpoint-large) {
  .blockImage {
    width: 75%;
    margin: auto;
    display: block;
  }
}